# .env.example - шаблон для других разработчиков
PROJECT_NAME=kilasonia
DOCKER_REGISTRY=ghcr.io/your-username
SERVER_HOST=your-server-ip
SERVER_USER=your-username

REACT_APP_YA_ID=ваш_идентификатор_счетчика
# Секретные переменные (не хранить в .env!)
# GITHUB_TOKEN=xxx
# SSH_PRIVATE_KEY=xxx